*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar container */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 15px;
  color: #333;
  margin-bottom: 40px;
}

/* Logo */
.logo {
  font-size: 24px;
}

/* List */
.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.list li {
  margin-right: 10px;
}

.list li a {
  color: #333;
  text-decoration: none;
  transition: 0.8;
}

.list li a:hover {
  text-decoration: underline;
}

/* Side icons */
.side {
  display: flex;
  align-items: center;
}

.side a {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}
