* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-right: 15px;
}

.list li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list li a:hover {
  color: #555;
}

.side {
  display: flex;
}

.fa-regular.fa-circle-user,
.fa-brands.fa-shopify {
  font-size: 24px;
  color: #333;
  margin-left: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .list {
    margin-top: 20px;
  }

  .list li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .side {
    margin-top: 20px;
  }
}
