.shop {
  margin-left: 270px;
  margin-right: 20px;
  padding-top: 120px;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .shop {
    
  }
}