
.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.Sign h1 {
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #fff;
}


.Sign form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  height: 90%;
  border-top-right-radius: 100px;
  background: rgba(6, 97, 164, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.4px);
-webkit-backdrop-filter: blur(3.4px);
border: 1px solid rgba(6, 97, 164, 0.3);
}

.Sign input {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  outline-width: 0;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

.Sign input:focus::placeholder{
  transition: 0.3s ease-in-out;
  font-size: 13px;
  color: #0056b3;
}

.Sign button {
  padding: 15px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Sign button:hover {
  background-color: #0056b3;
}

.Sign h3{
  color: #666;
}

.Sign a{
  text-decoration: none;
  color: rgb(255, 166, 0);
  font-size: 23px;
  transition: all 0.3s ease-in-out;
} 

.Sign a:hover{
  color: #007bff;
}

.error span{
  color: #fff;
  margin-right: 10px;
  background-color: red;
  padding: 5px 10px;
  border-radius: 50%;
}

.error{
  padding: 0px 10px;
  width: fit-content;
  height: 100px;
  background: rgba(6, 97, 164, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.4px);
-webkit-backdrop-filter: blur(3.4px);
border: 1px solid rgba(6, 97, 164, 0.3);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
left: 10px;
color: #fff;
}